<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    
    {% if messages %}
    <ul>
    {% for message in messages %}    
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}
    
    <div class="header">
        <h2>Welcome {{user.first_name}} {{user.last_name}}!</h2>
        <div class="header1">
            <a class="font1" href="/main_page">home</a>
            <a class="font1" href="/process_edit/{{user.id}}">edit my account</a> 
            <button class="button button1"><a href="/logout">logout</a></button>
        </div>
    </div>


   
    <div class="form-box2">
        <h2>Add a quote!</h2>
        <form action="/add_quote" method="POST">
            {% csrf_token %}
            <h5>Who quoted this?</h5>
            <input type="text" placeholder="famous person?" name="source"> 
            <h5>What did they say?</h5>
            <textarea name="description" placeholder="description" cols="50" rows="10"></textarea> <br>
            <input type="submit" value="Add">
        </form>
    </div>

    <div class="form-box">
    <h2>All Quotes</h2>
    {% for quote in all_quotes %}
    <div class="border">
        <p>
            <ul>{{quote.source}}</a></ul>
            <ul>Posted by: <a href="/user_profile/{{quote.user.id}}">{{quote.user.first_name}} {{quote.user.last_name}}</a></ul>
            <ul>{{quote.description}}</ul>
            <ul>{{quote.user_likes.count}} votes</ul>
            <a href="/quote/cast_like/{{quote.id}}">like this quote!</a>
            <br><br>
            <form action="/quote/destroy/{{quote.id}}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Delete this quote">
            </form>
        </p>
    </div>
    {% endfor %}
    </div>



</body>
</html>