<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poster_profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

    <div class="header3">
        <a href="/main_page">home</a>
        <a class="button button1"href="/logout">logout</a>
        </div>  

    <h1>{{user.first_name}} {{user.last_name}}'s quotes</h1>

    {% for quote in user.quote_owned.all %}
    <div class="border1">
    <p>{{quote.source}}</p>
    <p>{{quote.description}}</p>
    </div>
    {% endfor %}

    
</body>
</html>