<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit my profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

    <div class="header3">
    <a href="/main_page">home</a>
    <a class="button button1"href="/logout">logout</a>
    </div>  


    {% if messages %}
    <ul>
    {% for message in messages %}    
    <li>{{ message }}</li> 
    {% endfor %}
    </ul>
    {% endif %}


    <h2>Edit My Account</h2>
    <form action="/process_edit/{{user.id}}" method="POST">
        {% csrf_token %}
        <p>first name</p>
        <input type="text" name="first_name" placeholder="{{user.first_name}}">
        <p>last name</p>
        <input type="text" name="last_name" placeholder="{{user.last_name}}">
        <p>email</p>
        <input type="text" name="email" placeholder="{{user.email}}">
        <br>
        <br>
        <input type="submit" value="Update">
    </form>


    
</body>
</html>