.form-box{
    display: inline-block;
    float: left;
    background-color: burlywood;
    width: 400px;
    min-height: 500px;
    padding: 25px;
    vertical-align: top;
    margin: 10px;
}

.form-box2{
    display: inline-block;
    float: right;
    background-color: burlywood;
    width: 400px;
    min-height: 500px;
    padding: 25px;
    vertical-align: top;
    margin: 10px;
}

.border{
   border-style: solid;
   margin: 5px;
}

.border1{
    border-style: solid;
    margin: 5px;
    width: 350px;
 }
 

.header{
    margin: 5px;
    width: 99%;
    height: 75px;
 }

 .header1{
    display: inline-block;
    align-content: flex-start;
    float: right;
    width: 500px;
    height: 55px;
    margin-top: -50px;
    margin-right: -100px;
 }

 .header3{
    display: inline-block;
    align-content: flex-start;
    float: right;
    margin-right: 50px;
 }

 .font1{
    font-size: 20px;
    color:black; 
    cursor:pointer; 
    font-weight: 900;
 }

 .button {
    background-color: #051d06; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

 
 

